body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    background-size: cover;
    overflow: hidden;
    backdrop-filter: blur(50px);
    overflow: hidden;
    
}
.upper-container{
    width: 80%;
    height: 80%;
    padding-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 唱片 */
.record-container{
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 5%;

    
}
.record-bg{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 500px;
    /* 页面水平垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
#record-img{
    background: url(../img/record0.jpg);
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    border-radius: 250px;

}

/* 歌曲名字 */
.introdution-container{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;

}
.text-container{
    width: 80%;
    padding-left: 20%;

}
.music-title{
    color: white;
    font-size: 4rem;
}
.author-container{
    color: white;
    font-size: 1.5rem;
    /* line-height: 300px; */
}
/* 下半部分 */
.bottom-container{
    height: 20%;
    width: 100%;
    padding: 20px 47px;
}

/* 控制按钮 */
.controls{
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* 进度条 */

.progress{
    width: 95%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 20px;
}
.progress-play{
    width: 0;
    height: 3px;
    background-color: rgb(16, 244, 213);
}
/* 时间 */
.timer-container{
    color: white;
    font-size: 1.3rem;
}
/* 中间按钮 */
.center-container{
    display: flex;
    align-items: center;
}
.center-icon{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 8px;
}
.center-icon:hover{
    opacity: 0.7;

}
.center-icon:active{
    opacity: 0.6;
}
.playMode{
    background-image: url(../img/mode1.png);
    background-size: 100% 100%;
}
.beforMusic{
    background-image: url(../img/上一首.png);
    background-size: 100% 100%;
}
.playPause{
    /* background-image: url(../img/继续播放.png);
    background-size: 100% 100%; */
    width: 50px;
    height: 50px;
}
.icon-play{
    background-image: url(../img/继续播放.png);
    background-size: 100% 100%;
}
.icon-pause{
    background-image: url(../img/暂停.png);
    background-size: 100% 100%;
}
.nextMusic{
    background-image: url(../img/下一首.png);
    background-size: 100% 100%;

}
.volumn{
    background-image: url(../img/音量.png);
    background-size: 100% 100%;
}
/* 右边按钮 */
.right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-icon{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
#MV{
    background-image: url(../img/MV.png);
    background-size: 100% 100%;
}
#speed{
    color: white;
    font-size: 1.3rem;
}
#list{
    background-image: url(../img/列表.png);
    background-size: 100% 100%;
}
/* 唱片旋转 */
.rotate-play{
    animation: rotateAni 10s infinite linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    
}

/* 定义动画的变化过程 */
@keyframes rotateAni {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* 列表样式 */
.close-container{
    display: none;
    width: 75%;
    height: 100%;
    /* background-color: pink; */
    position: fixed;
    top: 0;
    left: 0;
}
.list-container{
    width: 25%;
    height: 100%;
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 30px;

}
.musicListTitle{
    font-size: 50px;
}
.musicLists{
    font-size: 30px;
}
.musicLists div{
    width: 100%;
    height: 43px;
    margin: 11px 0;
    /* background-color: blue; */
}
.musicLists div:hover{
    background-color: rgb(97, 94, 94);
}

.list-show{
    animation: showAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.list-hide{
    animation: hideAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes showAni {
    from{
        transform: translatex(100%);
    }
    to{
        transform: translateX(0);
        }
}
@keyframes hideAni {
    from{
        transform: translatex(0);
    }
    to{
        transform: translateX(100%);
    }
}
